<h2>Lista de pedidos</h2>

<table class="table table-striped">
	<thead>
		<th>Número</th>
		<th>Data de emissão</th>
		<th>Quantidade de produdtos</th>
		<th>Valor total</th>
		<th>Cliente</th>
		<th>Ações</th>
	</thead>
	<tbody>
		<tr>
			<td>#2</td>
			<td>21/07/2016</td>
			<td>2</td>
			<td>200</td>
			<td>Joaquim</td>
			
			<td><a ng-href="/show/2" class="btn btn-success">Ver</a>
				<a ng-href="/edit/2" class="btn btn-warning">Editar</a>
				<a ng-href="/delete/2" class="btn btn-danger">Apagar</a>
			</td>
		</tr>
	</tbody>
</table>